@charset "utf-8";
html, body {
	width: 100%; height: 100%; margin: 0px;
	background: none;
	border: 0px currentColor;
	border-image: none;
	font-size: 100%;
	vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    color: #333;
   /* font: 18px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;*/
	font-family: Verdana, Geneva, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	vertical-align: middle;
}
div, td{
	-moz-user-select:none;
	-webkit-user-select:none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {	text-decoration:none;}
ul 
{	list-style-type: none;
	margin: 0px;	padding: 0px;
}
h1, h2, h3, h4, p, span
{	margin: 0px; padding: 0px;}
iframe {border:none; margin: 0px; cursor:none;}

#_wrapper {
    min-height: 100%;
	position: relative;
	z-index: 10;
}
#_background
{	position: absolute;
	overflow: hidden;
    min-height: 100%;
	width:100%;
	z-index: 0;
}
#_background_top
{	width:100%; height:290px; min-height:290px; z-index: 0;
	background:linear-gradient(top,rgba(0,120,255,0.3),#FFF);
	background:-ms-linear-gradient(top,rgba(0,120,255,0.3),#FFF);
	background:-moz-linear-gradient(top,rgba(0,120,255,0.3),#FFF);
	background:-webkit-linear-gradient(top,rgba(0,120,255,0.3),#FFF);
}
/*
header
{	background: #B24926;
	background:linear-gradient(top,#FFF,rgba(0,120,255,0.25));
	background:-ms-linear-gradient(top,#FFF,rgba(0,120,255,0.25));
	background:-moz-linear-gradient(top,#FFF,rgba(0,120,255,0.25));
	background:-webkit-linear-gradient(top,#FFF,rgba(0,120,255,0.25));
}
*/
#container
{   position:absolute;top:0px;left:0px;right:0px;bottom:0px;
	overflow:hidden;overflow-x:hidden;overflow-y:hidden;
	width:100%;height:100%;min-height:100%;
	background:none transparent;
	z-index: 30;
}
.container-frame
{	position:absolute;top:0px;left:0px;right:0px;bottom:0px;
	overflow:hidden;overflow-x:hidden;overflow-y:hidden;
	width:100%;height:100%;min-height:100%;
	background:none transparent;
}
.container-content
{	border: 5px groove rgba(31,101,231,0.3);
    background: rgba(221,221,221,0.8);
	width:97%; height:100%;
	margin-bottom: 190px;
	float: left;
}
footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: none;
}
#footer_content {
    position: relative;
    clear: left;
    background: #d3d7cf;
    color: #555753;
    padding: 20px 0;
	z-index: 90;
}
#footer_art {
    position: relative;
	background: url("../images/footer_arts/default.png") no-repeat;
	clear: left;
	width: 960px;	height: 180px;
	margin: 0px auto;
	z-index: 1;
}
#footer_grass {
    position: relative;
	background: url("../images/grass.png") repeat-x top;
	height: 39px;
	margin-top: -33px;
	z-index: 90;
}

#infobar
{	width: 100%;
	float: right;
	margin: 10px 1% 10px 0;
	text-align: right;
}
#content-wrapper
{	width: 100%;	float: left;
	padding-bottom: 180px;
}
#content
{	position: relative;
	width:88%; height:100%;
	margin: 0 5%;
	float: left;
    border: 5px groove rgba(31,101,231,0.3);
    background: rgba(221,221,221,0.8);
}
.data-wrapper
{	position: relative;
	width:98%; min-height:100px;
	border: 1px solid #FFF;
	margin: 15px 1%;
	float: left;
}
/*
#content-wrapper {
    border-top: 1px solid #333;
    position: relative;
	z-index: 31;
}
#content {
    border-top: 1px solid #333;
    border-radius: 0 0 10px 10px;
    position: relative;
	z-index: 30;
}

.container-login
{	position: absolute;
	left: 52%; top: 42%;
	float: left;
	z-index: 30;
}
.container-login-wrapper
{	width:380px; height:180px;
	border: 3px inset rgba(40,170,255,0.20);
	margin:0px; padding: 15px 10px 5px 22px;
}
.content-login-banner
{	position: relative; left:-5px; top:-3px;}
.content-login-info
{	padding: 8px 0px; line-height: 30px;}
.content-login-info input
{	width: 170px;	height: 20px;}
.container-statusbar
{	padding: 45px 0px 5px 2px;}
.container-sidebar
{	padding-left: 20px;}
.content-menu
{	position: relative;
	float: left;
	width:200px;	height:100%;
	border-right: 1px solid #FFF;
	margin-top:1px;
	z-index:20;
	padding-bottom: 100px;
}
.content-menu ul li
{	padding: 10px 5px;
	position: relative;
}
.content-menu ul li:hover
{	color: #1D558F;
	cursor:pointer; cursor:hand;
}
*/
.hide
{	display:none;}
.paint
{	position: absolute; top:0px; left:0px;z-index:10;}
.rightShift1
{	padding-right: 9px;}
.mlButton
{	border: none;
	padding: 7px;
    background: rgba(110,200,255,0.10);/**/
}
.mlButton:hover
{	border: 2px inset rgba(40,170,255,0.20);
	padding: 3px;
    background: #d3d7cf;
}
.mlEditBox
{	border: 1px solid rgb(211,211,211);
    background: none;
	height: 24px;
}
.mlEditBox:hover
{	border: 1px inset rgba(40,170,255,0.90);
	background: #FFF;
}
.mlEditBox:focus
{	background: #FFF;
}
.mlCtrlBox
{	position: relative;
	width:100%; height:70px;
	margin: 10px 0px;
	line-height:70px;
	vertical-align:middle;
	text-align:center;
	float: left;
}

.mlBoxShadow {
  border-collapse: collapse;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background-position: 0 -100px;
}
